# Copy this file to .env and fill in your Supabase details
VITE_SUPABASE_URL=https://xwcbibsuxxuwiryvkrnu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3Y2JpYnN1eHh1d2lyeXZrcm51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2ODcxNTksImV4cCI6MjA5NzI2MzE1OX0.XOU0GSl_HkD3W66yHN6Kxe3re4ZYhCR41WxzQYuXgGY
